<div class="container mt-5">
  <div class="row justify-content-center">
    
    <div class="col-md-4 text-center">
      <img src="assets/img/logoCreidtFast.png" alt="Logo Credit Fast" class="img-fluid" style="max-width: 150px;">
      <p class="mt-3">Solicita tu tarjeta de crédito con nosotros</p>
      <p>¡Es muy fácil!</p>
      <p>Haz realidad tus metas con nuestra tarjeta de crédito Credit Fast. Te ofrecemos tasas competitivas, aprobaciones rápidas y acceso a descuentos en cientos de comercios afiliados.</p>
    </div>
    
    <div class="col-md-3 text-center">
      <img src="assets/img/tarjetacredito.png" alt="Tarjeta de crédito" class="img-fluid">
      <p class="mt-3">Con nuestra tarjeta de crédito podrás disfrutar de beneficios exclusivos, promociones especiales y la tranquilidad de realizar compras seguras en cualquier lugar del mundo.</p>
      <button class="btn btn-primary mt-3" routerLink="solicitud">SOLICITAR</button>
    </div>

  </div>
</div>
