.container {
    max-width: 1200px;
  }
  
  .navbar .navbar-nav .nav-link {
    color: white;
    font-weight: bold;
  }
  
  .navbar .btn {
    font-weight: bold;
  }
  
  button.btn-primary {
    width: 100%;
    font-weight: bold;
  }
  